@import '_variables';

footer {
    margin-bottom: 0;


    div #footer {
        p {
            margin-bottom: $margin-elements;
        }
        div.d-flex {
            margin-top: $margin-elements;
            justify-content: space-around;
        }
        .contact {
            width: 70px;
            height: 70px;
        }
    }
}
