@import '_variables';

#head {
    margin-top: 100px;
    div.row{
        width: 100%;
    }
    img#caraVector {
        width: 50%;
        height: 50%;
        opacity: 0.5;
        margin-left: 26%;
        margin-top: 30px;
    }
}