@import '_variables';

#head {
    margin-top: 100px;
    div.intro {
        
        #prueba {
            width: 100%;
            flex-direction: column;
            justify-content: space-evenly;
        
            img#caraVector {
                position: relative;
                left: 36%;
                width: 30%;
                height: 30%;
                opacity: 0.5;
                margin-top: 30px;
            }
        }
    }
}