@import '_variables';

#skills {
    
    .square {
        border-radius: 20px;
    }
    
    #progressBox {
        display: flex;
        flex-flow: row ;
        justify-content: space-evenly;
        align-items: center;
        min-height: fit-content;
        padding-top: 70px;
        
        // background-color: black;
        // opacity: 0.210;
        
    }
    h3.text {
        position: relative;
        top: -20px;
        left: 19px;
        color: $bluePrimary;
        text-shadow: 1px 0.5px 0.5px black;
    }
    h3.adjust {
        left: 1.3em;
    }
    h3.adjust1 {
        left: 1.9em;
    }
    #box2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
    }
    .number {
        position: relative;
        top: -97px;
        left: 60px;
        color: white;
        text-shadow: 1px 1px 1px white, 1px 1px 1px silver;
    }

}
.canvasSVG {
    transform: rotate(180deg);
    .rect1 {
        width: 360px;
        fill: url(#blueGradient);
    }
    .rect2 {
        width: 230px;
        height: 230px;
        fill: black;
        opacity: 0.7;
        transform: rotate(45deg);
    }
}